//backgrounds
$bg-pink: linear-gradient(to right,
#bb86fc 0%,
#ffffff 100%);
$bg-primary:#bb86fc;
$bg-dark: #282828;
$bg-light:#333333;

// colors
$white: #ffffff;
$primary: #bb86fc;
$primary-light:#8264a5;
$secondry-color : "";
$muted-color : #696969;
$black : #333333;