<div class="sign-up-wrapper d-flex justify-content-center min-vh-100 align-items-center">
    <div class="card shadow p-5 rounded">
        <div class="auth-block">
            <h3 class="sign-up-header">Sign Up</h3>

            <!-- email -->
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email Address" #userEmail required />
            </div>

            <!-- password -->
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" #userPwd required />
            </div>

            <!-- sign up button -->
            <div class="form-group">
                <input type="button" class="btn btn-primary form-control" value="Sign Up"
                    (click)="authService.SignUp(userEmail.value, userPwd.value)" />
            </div>

            <!-- or -->
            <div class="form-group center">
                <span class="or"><span class="or-inner">Or</span></span>
            </div>

            <!-- Continue with Google -->
            <div class="form-group">
                <button type="button" class="btn google-btn form-control text-white btn-danger d-flex align-items-center" (click)="authService.GoogleAuth()">
        
                  <!-- google svg -->
                  <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google"
                    viewBox="0 0 16 16">
                    <path
                      d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                  </svg>
        
                  <span class="ml-2">Continue with Google</span>
                </button>
              </div>
        </div>
        <div class="redirectToLogin">
            <span>Already have an account?
                <a class="redirect" routerLink="/sign-in">Log In</a></span>
        </div>
    </div>
</div>