@import "/src/style/shared/variables.scss";

.dashboard-student-card-wrapper {
    .card {
        direction: rtl;
        text-align: right;
        background: $bg-light;
        cursor: pointer;

        &-header {
            text-align: center;
        }
    }
}