<div class="loading-card" *ngIf="loading">
    <div class="bg-1 text-center"></div>
    <section class="loading-data">
        <h2 class="loading-text text-center text-uppercase">
            <span class="char">L</span>
            <span class="char">o</span>
            <span class="char">a</span>
            <span class="char">d</span>
            <span class="char">i</span>
            <span class="char">n</span>
            <span class="char">g</span>
        </h2>
    </section>
</div>

<router-outlet></router-outlet>