@import "../../../style/shared/variables.scss";

.dashboard-wrapper{
    .dashboard-header{
        &-navbar{
            background: $primary;
            position: sticky;
            top: 0;
            left: 0;
            z-index: 999;
        }
        &-sidebar{
            position: sticky;
            top: 0;
            left: 0;
            z-index: 999;
        }
    }
}